@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ClimateCrisisKR-1979";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.textTest {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.64px;
  text-align: center;
}
html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main,
footer {
  width: 100%;
}

main {
  flex: 1;
}

// Scroll Bar 제거
.scroll::-webkit-scrollbar {
  display: none;
}

// pretendard Font
.pretendardBoldFont-40 {
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 900;
  line-height: 47.73px;
}

.pretendardSemiBoldFont-32 {
  font-family: Pretendard;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.19px;
}

.pretendardSemiBoldFont-24 {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.64px;
}

.pretendardNormalFont-24 {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.64px;
}

.pretendardSemiBoldFont-20 {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.87px;
}

.pretendardNormalFont-20 {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.87px;
}

.pretendardSemiBoldFont-18 {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.48px;
}

.pretendardNormalFont-18 {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.48px;
}

.pretendardNormalFont-16 {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}

[type="radio"] {
  appearance: none;
  padding: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

[type="radio"]:hover {
  border: 3px solid #ff7a00;
  box-shadow: 0 0 0 1.6px #ff7a00;
}

input[type="radio"]:checked {
  background: #ff7a00;
  border: 3px solid white;
  box-shadow: 0 0 0 1.6px #ff7a00;
}

/* Custom CSS */
.bgOrangeStyle {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  top: 21.6vw;
  left: 0;
  border-top: 45vw solid transparent;
  border-right: 100vw solid #ff7a00;
}

.bgOrangeStyle-end {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-top: 45vw solid transparent;
  border-right: 100vw solid #ff7a00;
}

.bgBlackStyle {
  z-index: 2;
  position: absolute;
  width: 0;
  height: 0;
  top: 21.6vw;
  border-top: 45vw solid transparent;
  border-left: 100vw solid black;
}

.bgBlackStyle-end {
  z-index: 2;
  position: absolute;
  width: 0;
  height: 0;
  top: 0vw;
  border-top: 45vw solid transparent;
  border-left: 100vw solid black;
}

.bgBlackStyle-1 {
  z-index: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 21.6vw solid transparent;
  border-left: 50vw solid black;
}

.bgBlackStyle-1-end {
  z-index: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 0vw solid transparent;
  border-left: 50vw solid black;
}

.bgBlackStyle-2 {
  z-index: 0;
  position: absolute;
  width: 0;
  height: 0;
  left: 50vw;
  border-bottom: 21.6vw solid transparent;
  border-right: 50vw solid black;
}

.bgBlackStyle-2-end {
  z-index: 0;
  position: absolute;
  width: 0;
  height: 0;
  left: 50vw;
  border-bottom: 0vw solid transparent;
  border-right: 50vw solid black;
}

/* Home css */
.bgTextStyle {
  font-size: 13vw;
  z-index: 0;
  width: 100vw;
  text-align: center;
  position: absolute;
  font-family: ClimateCrisisKR-1979;
}

.bgOrangeStyle-home {
  z-index: 1;
  width: 0px;
  height: 0px;
  border-top: 45vw solid transparent;
  border-left: 100vw solid #ff7a00;
  position: absolute;
  left: 0;
}

.bgBlackStyle-home {
  z-index: 0;
  width: 0px;
  height: 0px;
  border-top: 45vw solid transparent;
  border-right: 100vw solid black;
  position: absolute;
}
